body {
  background-color: orange;
  padding: 60px;
}
.Header{
  background-color: peachpuff;
}
.item{
  background-color: peru;
  width: 100px;
}
.list-item{
  justify-content: center;
  display: inline-flex;
  flex-direction: column-reverse;
}
.App .Row{
  display: inline-flex;
}
